.checkbox-status-open {
  color: aqua;
}

.checkbox-status-ongoing {
  color: violet;
}

.checkbox-status-checked {
  color: green;
}

.checkbox-status-obsolete {
  color: #666;
}

.checkbox-status-in-question {
  color: yellow;
}

.text-resolved {
  color: #666;
}

.text-title {
  text-decoration: underline;
}
