@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --App-sidebar-width: 250px;
  --App-primary: #0092FF;
}

@layer base {
  html {
    @apply bg-background text-content overscroll-y-none;
  }

  body {
    @apply font-sans overscroll-y-none;
  }

  select {
    -webkit-appearance: none;
  }
}

@layer components {
  .link {
    @apply text-primary underline hover:no-underline;
  }

  .form-control {
    @apply block w-full py-2 px-3 text-content appearance-none bg-background border-1 border-border rounded-md;
  }
}

.macos-theme--1 {
  --App-primary: #8C8C8C;
}

.macos-theme-0 {
  --App-primary: #FF5257;
}

.macos-theme-1 {
  --App-primary: #F7821C;
}

.macos-theme-2 {
  --App-primary: #FFC600;
}

.macos-theme-3 {
  --App-primary: #62BA46;
}

.macos-theme-4 {
  --App-primary: #027AFF;
}

.macos-theme-5 {
  --App-primary: #A550A7;
}

.macos-theme-6 {
  --App-primary: #F74F9E;
}

.window-inactive {
  --App-primary: #AFB2B5;
}
